<div *ngFor="let challenge of challenges$ | async" class="alert alert-warning">
  <div class="row">
    <div class="col-sm-9">
      <strong>Challenge:</strong> #{{challenge.challengerRank}} {{challenge.challengerDisplayName}} has challenged you to a match, please respond with result
    </div>
    <div class="col-sm-1">
      <a class="btn btn-xs btn-warning pull-right" (click)="challengeWon(challenge);" >You Won</a>
    </div>
    <div class="col-sm-1">
      <a class="btn btn-xs btn-warning pull-right" (click)="challengeLost(challenge);" >You Lost</a>
    </div>
    <div class="col-sm-1">
      <a class="btn btn-xs btn-warning pull-right" (click)="challengeDeclined(challenge, challenge.$key)">Declined</a>
    </div>
  </div>
</div>
