<h2>Ladder Rankings</h2>
<!--<p class="lead">This is a ladder style ranking.</p>-->
<ul class="list-unstyled">
  <li *ngFor="let player of players">
    <div class="alert alert-success">
      <div class="row">
        <div class="col-xs-6">
          <p [ngClass]="{'bold-text': (player.uid === user.uid)}" style="font-size: 26px; margin: 0;">#{{player.rank}} {{player.displayName}}</p>
        </div>
        <div class="col-xs-6">
          <ul class="list-inline list-unstyled pull-right">
            <li *ngIf="player.isLoggedInUser;">
              <a class="btn btn-default" (click)="retire(player)" role="button">Retire</a>
            </li>
            <li *ngIf="player.canChallenge;">
              <a class="btn btn-default" (click)="challenge(player)" role="button">Challenge</a>
            </li>
            <li *ngIf="player.isChallenged">
              <span style="font-size: 24px;" >Challenged!</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>

