<div class="row" *ngIf="showJoinDialog">
  <div class="col-md-12">
    <div class="form-group">
      <label for="displayName">Display Name</label>
      <input type="text" class="form-control" id="displayName" placeholder="Display Name" [(ngModel)]="displayName">
    </div>
    <button type="button" class="btn btn-default" (click)="join()">Join Now</button>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-ladder-ranking></app-ladder-ranking>
  </div>
  <div class="col-md-6">
    <app-challenges-won></app-challenges-won>
    <app-challenges-lost></app-challenges-lost>
    <app-challenges-declined></app-challenges-declined>
  </div>
</div>
